@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0715;
  --secondaryBg: #050709;
  --text: #cac9ce;
  --primary: #8750f7;
  --secondary: #2a1454;
  --teritary: #331c59;
  --skeleton: #140c1c;
  --boxShadow: rgba(135, 80, 247, 0.2);
  --textPrimary: linear-gradient(98.08deg, #3c1b8c 1.71%, #7a43fe 72.23%),
    linear-gradient(
      102.07deg,
      rgba(255, 255, 255, 0) -56.19%,
      rgba(255, 255, 255, 0.1) 92.66%
    );
  --textSecondary: linear-gradient(98.08deg, #3c1b8c 1.71%, #7a43fe 72.23%),
    linear-gradient(0deg, #ffffff, #ffffff);
  --textTeritary: linear-gradient(to right, #8750f7 0%, white 100%);
  --border: #7a43fe;
  --borderSecondary: #22272c;
  --buttonPrimary: linear-gradient(
    90deg,
    #8750f7 0%,
    rgba(89, 50, 165, 0.5) 50%,
    rgba(135, 80, 247, 0) 100%
  );
  --buttonSecondary: linear-gradient(
    90deg,
    rgba(135, 80, 247, 0) 0%,
    rgba(89, 50, 165, 0.5) 50%,
    #8750f7 100%
  );
  --buttonTeritary: linear-gradient(
    161deg,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  --cardBg: #331c594d;
  --cardhoverBg: linear-gradient(
    103.64deg,
    rgba(89, 50, 165, 0) -5.92%,
    #8750f7 59.33%
  );
  --cardBgSecondary: #331c593d;
  --cardhoverSecondary: #140c1c3d;
  --blurColor: #8d80b6;
  --disabled: gray;
  --icon: #7d49e4;
  --activeMenu: linear-gradient(
    90deg,
    #8750f7 0%,
    rgba(89, 50, 165, 0.5) 51.5%,
    #8750f7 100%
  );
  --hover: #020202d9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0715;
    --text: #white;
  }
} */

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}
body {
  color: var(--text);
  background: var(--background);
  font-family: Sora-medium;
}

@keyframes draw-divider {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes iconRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes iconRotate1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: translateX(-22px) rotate(135deg);
  }
}
.link-active hr {
  display: flex;
}
.preventSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  /* width: 550px !important; */
}
.swiper-pagination-bullet {
  color: white;
}
/* .swiper-pagination .swiper-pagination-bullet-active-next {
  background: #fc0000;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active-prev {
  background: #d80000;
  opacity: 1;
} */
.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: var(--primary);
}
.swiper-pagination {
  bottom: 0px !important;
}
.swiper-container {
  position: relative;
}

/* From Uiverse.io by alexruix */
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #c8b6ff;
  animation: text_713 3.5s ease both infinite;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9a79ff;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #d1c2ff;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

/* .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1 !important;
} */

/* .swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
} */

/* FiraSans */
@font-face {
  font-family: "FiraSans-extrabold";
  src: url("../app/fonts/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-bold";
  src: url("../app/fonts/FiraSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-semibold";
  src: url("../app/fonts/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-medium";
  src: url("../app/fonts/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-regular";
  src: url("../app/fonts/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-extralight";
  src: url("../app/fonts/FiraSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-light";
  src: url("../app/fonts/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Sora */
@font-face {
  font-family: "Sora-extrabold";
  src: url("../app/fonts/Sora-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Sora-bold";
  src: url("../app/fonts/Sora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sora-semibold";
  src: url("../app/fonts/Sora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Sora-medium";
  src: url("../app/fonts/Sora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sora-regular";
  src: url("../app/fonts/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sora-extralight";
  src: url("../app/fonts/Sora-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Sora-light";
  src: url("../app/fonts/Sora-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
